/* 
    General Styles
*/
.list-group-item{
    background-color:black;
    border:1px solid white;
}
body{
    background-color:grey;

}
.icons{
    color:white;
}
.btn{
    background-color:black;
    color:white;
}